<ion-header>
  <ion-toolbar>
    <ion-title>Edit Product</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cancel</ion-button>
      <ion-button (click)="saveChanges()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input [(ngModel)]="updatedProduct.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea [(ngModel)]="updatedProduct.description"></ion-textarea>
  </ion-item>
</ion-content>
